[Desktop Entry]
Name=Pomotron 
Type=Application
Exec=java -jar /usr/share/jdeb/lib/pomotron-1.0-SNAPSHOT-jar-with-dependencies.jar
Terminal=false
Icon=pomotron
Comment=Pomodoro Timer
NoDisplay=false
Categories=Office;
